@using NewLetter.Models;

<html lang="en">
@{ bool isAuthenticated = BaseUtil.IsAuthenticated();
    var roleID = BaseUtil.RoleID();
    var userID = BaseUtil.GetSessionValue(AdminInfo.UserID.ToString());
    var fullName = BaseUtil.GetSessionValue(AdminInfo.FullName.ToString());
    var companyname = BaseUtil.GetSessionValue(AdminInfo.companyname.ToString());
    var logo = BaseUtil.GetSessionValue(AdminInfo.logo.ToString());
}
@{
    var emailV = "";
    var phoneV = "";
    var perc = "";
    var viewCount = "";
    var downloadCount = "";
    var contactCount = "";
    if (roleID == "5")
    {
        emailV = BaseUtil.GetSessionValue(AdminInfo.emailVerified.ToString());
        phoneV = BaseUtil.GetSessionValue(AdminInfo.mobileVerified.ToString());
        perc = BaseUtil.getProfileCompletePercentage(userID).ToString();
        Tuple <int,int,int> tuples = BaseUtil.ok();
        viewCount = tuples.Item1.ToString();
        downloadCount = tuples.Item2.ToString();
        contactCount = tuples.Item3.ToString();


    }
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Auxo - Employer</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    @*<script src="~/Scripts/jquery-3.1.1.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>


    @*<script src="~/Scripts/nicEdit-latest.js"></script>*@

    <script>
    $(function () {
        $('#notifi[onload]').trigger('onload');
    });
    </script>
</head>
<body>
    <div class="container-fluid padding-none">
        <div class="col-lg-12 padding-none">
            <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                <div class="col-md-4 col-sm-4 col-xs-4 common-logo-block half-width">
                    <div class="common-logo-main"><img src="~/images/auxo-inner.png" alt="Auxo"></div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-4 common-qe-logo-block half-width">
                    <div class="common-logo-main"><img src="~/images/qendidate-inner.png" alt="QeNdidate"></div>
                </div>
                @{ if (roleID == "5")
                    {
                        <div class="col-md-4 col-sm-4 col-xs-4 padding-left responsive-center full-width noticlass" id="notifi" onload="loadNotification();">

                            <div class="common-round-shape">
                                <img src="~/images/top-icon.png">
                                <div class="n-green"><span class="count count_contact">&nbsp;</span></div>
                            </div>
                            <div class="common-round-shape">
                                <img src="~/images/top-alert-icon.png">
                                <div class="n-red"><span class="count count_download">&nbsp;</span></div>
                            </div>
                            <div class="common-round-shape">
                                <div class="n-yellow"><span class="count count_view">&nbsp;</span></div>
                                <img src="~/images/top-email-icon.png">
                            </div>
                            <div class="noti-content">
                                <ul id="notiContent"></ul>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-md-6 col-sm-4 col-xs-12 common-qe-logo-block">
                <div class="col-md-12 common-right-block">
                    @{ if (roleID != "5")
                        {
                            if (logo != "")
                            {
                                <div class="common-user-loggedin common-logo-main"><span class="common-user-loggedin-pic"><img src='@logo'></span><span class="common-user-loggedin-name">@companyname</span></div>
                            }
                            else
                            {
                                <div class="common-user-loggedin common-logo-main"><span class="common-user-loggedin-pic"><img src="~/images/user_icon_pic.png"></span><span class="common-user-loggedin-name">@companyname</span></div>
                            }
                        }
                    }
                    @if (logo != "")
                    {
                        <div class="common-user-loggedin common-logo-main"><span class="common-user-loggedin-pic"><img src='@logo' style="width:35px"></span><span class="common-user-loggedin-comp">@fullName </span></div>
                    }
                    else
                    {
                        <div class="common-user-loggedin common-logo-main"><span class="common-user-loggedin-pic"><img src="~/images/user_icon_pic.png" style="width:35px"></span><span class="common-user-loggedin-comp">@fullName </span></div>
                    }


                    @if (emailV == "False" || phoneV == "False")
                    {
                        <a class="warning-verification atd_bg_color_wrning" href='@Url.Action("VerifyDetails", "profile")'>
                            <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Your Mobile/Email needs verification"></i>

                        </a>

                    }

                    <div class="dropdown common-top-dropdown">
                        <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><img src="~/images/profile-icon.jpg"></button>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="location.href='@Url.Action("Logout", "Account", new { Area = "" })'">Sign Out</a></li>
                            @*<li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>*@
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid padding-none gry">
        <div class="row-eq-height">
            <div class="col-md-2 col-sm-2 col-xs-12 padding-none left-nav">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div class="navbar-collapse collapse padding-none">
                        <ul class="nav navbar-nav navbar-left">

                            @{ if (roleID == "2" || roleID == "3")
                                {
                                    <li>@Html.ActionLink(" Dashboard", "Dashbord", "Employer")</li>

                                    <li class="dropdown custom-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs</a>
                                        <ul class="dropdown-menu forAnimate" role="menu">
                                            <li>@Html.ActionLink(" New Job", "jobDashboard", "jobDetails")</li>
                                            <li>@Html.ActionLink(" Posted Jobs", "Myjobs", "jobDetails")</li>
                                            <li>@Html.ActionLink(" Pending Jobs", "pendingJobs", "jobDetails")</li>
                                            <li>@Html.ActionLink(" Advertisements", "jobPluginList", "jobDetails")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink(" Profile", "empedit", "companyDetails")</li>

                                    <li class="dropdown custom-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Colleague</a>
                                        <ul class="dropdown-menu forAnimate" role="menu">
                                            <li>@Html.ActionLink(" Colleague List", "Index", "NewEmployee")</li>
                                            <li>@Html.ActionLink(" Add Colleague", "create", "NewEmployee")</li>
                                            <ul>
                                    </li>
                                }
                                if (roleID == "5")
                                {
                                    <li><a href="~/profile/editcandidate"><i class="fa fa-user" aria-hidden="true"></i> Profile</a><p class="left-vvbbvv">@perc%</p> <p class="completed_text_profile">Completed</p></li>
                                    <li><a href="~/jobDetails/jobs"><i class="fa fa-briefcase" aria-hidden="true"></i> Find Jobs</a></li>
                                    <li><a href="~/profile/ProfilePerformance"><i class="fa fa-address-book-o" aria-hidden="true"></i> Profile Summary</a></li>
                                    <li><a href="~/profile/AppliedJobs"><i class="fa fa-check" aria-hidden="true"></i> Applied Job</a></li>

                                }
                                if (roleID == "1" || roleID == "4")
                                {
                                    <li>@Html.ActionLink("Education", "Index", "Education", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Candidate Status", "Index", "CandidateStatus", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Interview Slots", "Index", "Slots", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Slots Information  ", "SlotsInformation", "TimeSlots", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("BlockSlots  ", "BlockSlots", "TimeSlots", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("tempBlockSlots  ", "tempBlockSlots", "TimeSlots", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Edit Your Details", "empedit", "companyDetails", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink(" View Posted Jobs ", "Myjobs", "jobDetails", new { area = "" }, null)</li>
                                    if (roleID == "1")
                                    {
                                        <li>@Html.ActionLink(" Add Colleague ", "#", "#")</li>
                                        <li>@Html.ActionLink(" Colleague List ", "Index", "NewEmployee", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink(" Add Colleague ", "create", "NewEmployee", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink(" Pending Jobs ", "pendingJobs", "jobDetails", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink(" Created Advertisements ", "jobPluginList", "jobDetails", new { area = "" }, null)</li>
                                    }
                                    <li>@Html.ActionLink("Skills", "Index", "Skills", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Roles", "Index", "Roles", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Job Status", "Index", "JobStatus", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Industry", "Index", "Industry", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Employer Master", "Index", "EmployerMaster", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Candidate Master", "Index", "CandidateMaster", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Company Master", "Index", "CompanyMaster", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Employment Type", "Index", "EmploymentTypes", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Advertisements", "Index", "AdvertisementList", new { area = "Admin" }, null)</li>

                                }
                            }
                        </ul>
                        @if (roleID == "5")
                        {
                            <div class="col_sm_left_boxis">
                                <h4>This month</h4>
                                <ul>
                                    <li>
                                        <b>@viewCount</b>
                                        <span>Viewed</span>
                                    </li>

                                    <li>
                                        <b>@downloadCount</b>
                                        <span>Downloaded</span>
                                    </li>

                                    <li>
                                        <b>@contactCount</b>
                                        <span>Contacted</span>
                                    </li>

                                </ul>
                            </div>
                        }

                    </div>
                </nav>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 padding-none right-form-panel">
                @RenderBody()
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var jqOld = jQuery.noConflict();
        jqOld(document).ready(function () {
            function setHeight() {
                windowHeight = jqOld(window).innerHeight();
                jqOld('.left-nav').css('min-height', windowHeight);
            };
            setHeight();

            jqOld(window).resize(function () {
                setHeight();
            });
        });

    </script>

    <script type="text/javascript">
        debugger
        var jqOld = jQuery.noConflict();
        jqOld(document).ready(function() {
            jqOld('#myDataTable').DataTable();
        } );
    </script>
</body>
@RenderSection("head", required: false)

<style type="text/css">
    /*Added css for design notification area, you can design by your self*/
    /* COPY css content from youtube video description*/
    .noti-content {
        position: fixed;
        right: 100px;
        background: #e5e5e5;
        border-radius: 4px;
        top: 47px;
        width: 250px;
        display: none;
        border: 1px solid #9E988B;
    }

    ul#notiContent {
        max-height: 200px;
        overflow: auto;
        padding: 0px;
        margin: 0px;
        padding-left: 20px;
        z-index: 99999;
        margin-top: 300px;
        padding-top: 300px;
        background: red;
    }

        ul#notiContent li {
            margin: 3px;
            padding: 6px;
            background: red;
        }



    span.count {
        position: relative;
        top: -3px;
    }
</style>


</html>
<script>
    function DateCheck()
{

  var StartDate= document.getElementById('txtStartDate').value;
  var EndDate= document.getElementById('txtEndDate').value;
  var eDate = new Date(EndDate);
  var sDate = new Date(StartDate);

  if(StartDate!= '' && StartDate!= '' && sDate> eDate)
  {
       debugger
       bootbox.alert({
        title: 'Alert Success  !',
        message: 'Please ensure that the End Date is greater than or equal to the Start Date.'
       });

    return false;
    }
}
</script>



<script>
    var jqOld = jQuery.noConflict();
    jqOld(function () {
        debugger
            // Click on notification icon for show notification
        jqOld('div.n-yellow').click(function (e) {
            debugger
                e.stopPropagation();
                jqOld('.noti-content').show();
                debugger
                var count = 0;
                count = parseInt(jqOld('span.count_contact').html()) || 0;
            //only load notification if not already loaded  count_contact
                if (count >0) {
                    updateNotification();
                }
                jqOld('span.count_contact', this).html('&nbsp;');
                jqOld('div.n-yellow').css('display', 'none');
            })
            // hide notifications

            // update notification
            function updateNotification() {
                debugger
                jqOld('#notiContent').empty();
                jqOld('#notiContent').append('<li>Loading...</li>');

                var uri = '@Url.Action("GetNotificationContacts", "Account")';

                jqOld.getJSON(uri, function (data) {
                    debugger
                    jqOld('#notiContent').empty();
                    if (data.length == 0) {
                        jqOld('#notiContent').append(jqOld('<li>No data available</li>'));
                    }
                    jqOld.each(data, function (index, value) {
                        jqOld('#notiContent').append(jqOld('<li>' + value.companyName + ' send you message regarding job</li>'));
                    })
                })

            }
            // update notification count

    })

    jqOld('html').click(function () {
        jqOld('.noti-content').hide();
        jqOld('#notiContent').empty();
    })
</script>
<script>
    debugger

        var jqOld = jQuery.noConflict();
        var count = 0;
        debugger
        if ('@roleID' == '5') {
            function loadNotification() {
                debugger
                var URL = '@Url.Action("NotificationCount", "Account")';
                jqOld.getJSON(URL, function (data) {
                    debugger
                    jqOld('span.count_contact').html(data[0].Column3);
                    jqOld('span.count_download').html(data[0].Column2);
                    jqOld('span.count_view').html(data[0].Column1);

                    var count1 = 0;
                    count1 = parseInt(jqOld('span.count_contact').html()) || 0;
                    if (count1 == 0) {
                        jqOld('div.n-yellow').css('display', 'none');
                    }

                    var count2 = 0;
                    count2 = parseInt(jqOld('span.count_download').html()) || 0;
                    if (count2 == 0) {
                        jqOld('div.n-red').css('display', 'none');
                    }

                    var count3 = 0;
                    count3 = parseInt(jqOld('span.count_view').html()) || 0;
                    if (count3 == 0) {
                        jqOld('div.n-green').css('display', 'none');
                    }
                });
            }
        }

</script>

<script>
    var jqOld = jQuery.noConflict();
    jqOld(function () {
        debugger
            // Click on notification icon for show notification
        jqOld('div.n-red').click(function (e) {
            debugger
                e.stopPropagation();
                jqOld('.noti-content').show();
                debugger
                var count = 0;
                count = parseInt(jqOld('span.count_download').html()) || 0;
            //only load notification if not already loaded  count_download
                if (count >0) {
                    updateNotification1();
                }
                jqOld('span.count_download', this).html('&nbsp;');
                jqOld('div.n-red').css('display', 'none');
            })

            // update notification
            function updateNotification1() {
                debugger
                jqOld('#notiContent').empty();
                jqOld('#notiContent').append('<li>Loading...</li>');

                var uri = '@Url.Action("getNotificationDownload", "Account")';

                jqOld.getJSON(uri, function (data) {
                    debugger
                    jqOld('#notiContent').empty();
                    if (data.length == 0) {
                        jqOld('#notiContent').append(jqOld('<li>No data available</li>'));
                    }
                    jqOld.each(data, function (index, value) {
                        jqOld('#notiContent').append(jqOld('<li>' + value+ ' downloaded your profile. </li>'));
                    })
                })

            }
            // update notification count

        })
</script>
<script>
    var jqOld = jQuery.noConflict();
    jqOld(function () {
        debugger
            // Click on notification icon for show notification
        jqOld('div.n-green').click(function (e) {
            debugger
                e.stopPropagation();
                jqOld('.noti-content').show();
                debugger
                var count = 0;
                count = parseInt(jqOld('span.count_view').html()) || 0;
            //only load notification if not already loaded count_view
                if (count >0) {
                    updateNotification2();
                }
                jqOld('span.count_view', this).html('&nbsp;');
                jqOld('div.n-green').css('display', 'none');
            })

            // update notification
            function updateNotification2() {
                debugger
                jqOld('#notiContent').empty();
                jqOld('#notiContent').append('<li>Loading...</li>');

                var uri = '@Url.Action("getNotificationView", "Account")';

                jqOld.getJSON(uri, function (data) {
                    debugger
                    jqOld('#notiContent').empty();
                    if (data.length == 0) {
                        jqOld('#notiContent').append(jqOld('<li>No data available</li>'));
                    }
                    jqOld.each(data, function (index, value) {
                        jqOld('#notiContent').append(jqOld('<li>' + value + ' viewed your profile.</li>'));
                    })
                })

            }
            // update notification count

        })
</script>



<script>

   var jold = jQuery.noConflict();

    debugger
    jold(document).ready(function () {
        debugger
        jold('.datepicker').datepicker({
            dateFormat: 'mm/dd/yy',   // CHANGE DATE FORMAT.
            changeMonth: true,
        changeYear: true
        });
    });
</script>
