@model NewLetter.Models.jobDetail

<div>
    <h4>jobDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.workExpMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workExpMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationReq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationReq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfOpenings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfOpenings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataIsCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataIsCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataIsUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataIsUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobContactPersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobContactPersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobContactPersonMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobContactPersonMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobContactPersonEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobContactPersonEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.responsesEmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsesEmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyLogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compeletPosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compeletPosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salaryVisibleToEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salaryVisibleToEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otherinformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otherinformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.streetNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streetNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.advertisementList.advertisementimageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertisementList.advertisementimageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyDetail.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyDetail.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerDetail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerDetail.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerDetail1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerDetail1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentType.EmploymentType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentType.EmploymentType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.industry.industryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.industry.industryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobStatu.statuts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobStatu.statuts)
        </dd>

    </dl>
</div>
<p><input type="button" onclick="@("window.location.href='" + @Url.Action("jobView", "jobDetails", new { jobID = Model.jobID }) + "'");" value="Apply" />
</p>
