@model NewLetter.Models.login
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Auxo</title>
    <!-- Bootstrap -->
    
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>

<body class="register-page">
    <div class="container-fluid padding-none">
        <div class="container">
            <div class="col-xs-6 col-md-6 col-sm-6 padding-none"><img src="~/images/auxo-login.png"></div>
            <div class="col-xs-6 col-md-6 col-sm-6 text-right padding-none"><img src="~/images/spota-needle-login.png"></div>
            <div class="register-main">
                <div>
                    @Html.ActionLink("Employer Zone", "Employerlogin")
                    </div>
                    <div class="col-lg-10 col-lg-offset-1">
                        @if (TempData["result"] != null)
                        {
                            var result = Convert.ToString(TempData["result"]);
                            if (result == "Registred")
                            {
                                <div style="width:100%" class="alert alert-success">You have been registered. Please check your email for activation link.</div>
                            }
                            else if (result == "Activated")
                            {
                                <div style="width:100%" class="alert alert-success">Your Account has been activated successfullt. Kindly use the password provided in the email to login</div>
                            }
                            else
                            {
                                <div style="width:100%" class="alert alert-danger">@result</div>
                            }
                        }
                    </div>
                    <div class="col-sm-5 col-md-5 col-xs-12">
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <p><strong>Already have an account?</strong></p>
                                    <h3>Login Here</h3>
                                </div>
                                <div class="form-top-right"><i class="fa fa-key"></i> </div>
                            </div>
                            <div class="form-bottom">
                                @*- ----------candidate login---------------------*@
                                @Html.Action("logincandidate")
                            </div>
                        </div>
                        <div class="">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center or"><img src="~/images/orimg.jpg" alt="img"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center alternate">Alternate Way to Login </div>
                        </div>
                        <div class="social-login col-md-12 col-sm-12 col-xs-12">
                            <div class="social-login-buttons"> <a href="@Url.Action("Facebook","Account")" class="btn btn-link-1"> <img src="~/images/facebook-btn.jpg" alt="Facebook"> </a> <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=772sds0w0tvipg&redirect_uri=http%3A%2F%2Flocalhost%3A51126%2FAccount%2FlinkdInReg&state=987654321" class="btn btn-link-1"> <img src="~/images/linkedin-btn.jpg" alt="Linkedin"> </a> <a href="@Url.Action("googleReg","Account")" class="btn btn-link-1"> <img src="~/images/googlebtn.jpg" alt="Google+"> </a> </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5 col-md-5 col-xs-12">
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <p><strong>Don't have an account?</strong></p>
                                    <h3>Register Now</h3>
                                </div>
                                <div class="form-top-right"> <i class="fa fa-pencil"></i> </div>
                            </div>
                            <div class="form-bottom">
                                @*------------------ candidate registration-------------------------*@

                                @Html.Action("candidateReg")
                            </div>
                            <div class="social-login">
                                <h6>...or login with:</h6>
                                <div class="social-login-buttons"> <a href="@Url.Action("Facebook","Account")" class="btn btn-link-1"> <img src="~/images/facebook-btn.jpg" alt="Facebook"> </a> <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=772sds0w0tvipg&redirect_uri=http%3A%2F%2Flocalhost%3A51126%2FAccount%2FlinkdInReg&state=987654321" class="btn btn-link-1"> <img src="~/images/linkedin-btn.jpg" alt="Linkedin"> </a> <a href="@Url.Action("googleReg","Account")" class="btn btn-link-1"> <img src="~/images/googlebtn.jpg" alt="Google+"> </a> </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="login-bottom col-md-12 col-sm-12 col-xs-12"><img src="~/images/login-shadow.png" width="713" height="38"></div>
            <div class="col-md-12 col-xs-12 col-sm-12 text-right"><img src="~/images/powerby.png"></div>
        </div>
    </div>
</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">

</script>

<script>
    var jqOld = jQuery.noConflict();
    jqOld(function () {
        debugger
        if ('@ViewBag.valMessage' == "ok")

            bootbox.alert({
                title: "Confirmation !",
                message: '<p>Reset password link has been sent to mail Please visit your mail</p>'
            });
    });
</script>