@model NewLetter.Models.CreateNewPassword
@{
    ViewBag.Title = "qenforgotPassword";
	Layout = "~/Views/Shared/_Layout_external_Employer.cshtml";
}




<div class="col-md-8 forgot_password_bg_page_url">
   <h2>Forgot Password</h2>
        @using (Html.BeginForm("NewPassword", "Account", null, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <h4>Create New Password</h4>
            <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "New Password", Type="password" })

            </div>
            @Html.HiddenFor(m=>m.userID)
            @Html.HiddenFor(m => m.roleID)

            @Html.ValidationMessageFor(model => model.Repassword, "", new { @class = "text-danger" })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.TextBoxFor(model => model.Repassword, new { @class = "form-control", placeholder = "Confirm Password",Type = "password" })

            </div>
                <div class="form-group">
                  
                        <input style="margin:0px; float:right;" type="submit" value="Save" class="btn btn-default" />
                   
                </div>

        }
   
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var roleID = '@ViewBag.success';
    var jold = jQuery.noConflict();

    jold(document).ready(function () {
        debugger
        if (roleID != "")
        {
            if (roleID == 2)
            {
                bootbox.alert({
                    title: 'Alert Success  !',
                    message: 'Password reset, login with new password',

                });
               



            }

            if (roleID == 5) {
                bootbox.alert({
                    title: 'Alert Success  !',
                    message: 'Password reset, login with new password',

                });
                

            }

        }

    });
</script>

