@model NewLetter.Models.CreateNewPassword
@{
    ViewBag.Title = "qenforgotPassword";
    
}







<h2>qenforgotPassword</h2>

<div class="col-md-8">
   
        @using (Html.BeginForm("NewPassword", "Account", null, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <h4>Create New Password</h4>
            <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "New Password", Type="password" })

            </div>
            @Html.HiddenFor(m=>m.userID)
            @Html.HiddenFor(m => m.roleID)

            @Html.ValidationMessageFor(model => model.Repassword, "", new { @class = "text-danger" })
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                @Html.TextBoxFor(model => model.Repassword, new { @class = "form-control", placeholder = "Confirm Password",Type = "password" })

            </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>

        }
   
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var roleID = '@ViewBag.success';
    var jold = jQuery.noConflict();
    jold(document).ready(function () {
        debugger
        if (roleID != "")
        {
            if (roleID == 2)
            {
                alert("Password reset, login with new password");
                var url = '/Account/Employerlogin';
                window.location.href=url;

            }

            if (roleID == 5) {
                alert("Password reset, login with new password");
               var url='/Account/login';
                window.location.href=url;

            }

        }

    });
</script>

