@model NewLetter.Models.careerObjective


@using (Html.BeginForm("_careerHighLights", "profile", null, FormMethod.Post, new { @class = "login-form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(e=>e.qenID)
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label col-md-12 col-sm-12 col-xs-12 left-label">Career Objective:</label>
            <div class="col-md-12 col-sm-12 col-xs-12">
                @Html.TextAreaFor(m => m.careerObj, new { @class = "form-control", placeholder = "" })
              @Html.ValidationMessageFor(m => m.careerObj, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label col-md-12 col-sm-12 col-xs-12 left-label">Career Highlights:</label>
            <div class="col-md-12 col-sm-12 col-xs-12">
                @Html.TextAreaFor(m => m.careerHighLights, new { @class = "form-control", placeholder = "" })
                @Html.ValidationMessageFor(m => m.careerHighLights, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12 text-right academic">
            <input type="submit" value="Save" class="academic-create-btn btn btn-default" />
        </div>
    </div>
}

