@model NewLetter.Models.EmployerModel

    <style>
        span.col_1.tleft.text-danger.field-validation-error :before {
            content: " Warning ! ";
            color: red;
            font-weight: bold;
        }

        .text-danger {
            color: red;
        }
    </style>



<div id="employment">
    @{ var id = ViewBag.qenID;}

    <div class="container">
        <div class="row sub-container">
            
            <div class="col-md-12 col-sm-12 col-xs-12 employment_bg_formemployment_bg_form">

                <div class="right-box">

                    @*<div class="form" id="content-1">*@


                        @{ if (Model.employers.Count != 0)
                            {

                                <div class="certificate_tab_main">
								<table class="table">
                                    <thead>
                                        <tr>

                                            <th>Company Name</th>
                                            <th>Designation</th>
                                            <th>Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="certificatelistbody">
                                        @{int row = 0;  }
                                        @foreach (var data in Model.employers)
                                        {

                                            <tr>

                                                <td>@data.CompanyName</td>
                                                <td>@data.qenPosition</td>
                                                @if (data.qenEmpTo.Value.ToString("dd/MM/yyyy") == "01/01/1900")
                                                {
                                                <td>@data.qenEmpFrom.Value.ToString("dd/MM/yyyy") <b>To</b> Present</td>
                                                }
                                                else
                                                {
                                                <td>@data.qenEmpFrom.Value.ToString("dd/MM/yyyy") <b>To</b> @data.qenEmpTo.Value.ToString("dd/MM/yyyy")</td> 
                                                }

                                                <td>
                                                    <a onclick="return editemployment(@data.qenEmploymentNum);"><i class="glyphicon glyphicon-edit"></i></a>
                                                    <a onclick="return deleteemployment(@data.qenEmploymentNum,this);" id="delete_@data.qenEmploymentNum"><i class="glyphicon glyphicon-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
								</div>
                                            }
                        }
                        <div id="AddSkillsEMP">
                            @Html.Action("EmploymentAddPop", new { qenid = @id })
                        </div>


                    </div>
                       </div>
            </div>

        </div>

    
    <script>
        function editemployment(empno)
       {
           debugger
           var URL = '@Url.Action("EmploymentAddPop", "profile")?empno=' + empno;
           $.get(URL, function (data) {
               debugger
              
               $("#AddSkillsEMP").html(data);
           });
       }

        function deleteemployment(empno, ID)
       {
           debugger
           var URL = '@Url.Action("Deletejob", "profile")?empno=' + empno;


               $.get(URL, function (data) {
                   debugger
                   location = location.href;
               });


       }
    </script>
</div>






