@model NewLetter.Models.qenrefvalidation
@{
    ViewBag.Title = "RefrenceInfo";
}


<style>
    span.col_1.tleft.text-danger.field-validation-error :before {
        content: " Warning ! ";
        color: red;
        font-weight: bold;
    }

    .text-danger {
        color: red;
    }
</style>

<div id="references">
    <div class="container">
        <div class="row sub-container">

            <div class="col-md-12 col-sm-12 col-xs-12 padding_lbl_threee refrences_bg_border_tabs">
                <div class="right-box">
                    @using (Html.BeginForm("SaveRefrenceInfo", "profile", FormMethod.Post, new { id = "msform" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.qenid)          @Html.HiddenFor(m => m.qenRefID1)
                        var qenid = Model.qenid;
                        <div class="col-md-12 col-sm-12 margin-20 padding_lbl_threee margin-top_ipad__m margin_nones_abs">
                            <div class="col-md-6 col-sm-12 padding_lbl_threee bg_color_cmn_refrence_tab">
                                <label class="refrence_one_text">Reference  1</label>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Full Name:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                                            @Html.TextBoxFor(m => m.qenRefName1, new { id = "qenRefName1", placeholder = "" })
                                            @Html.ValidationMessageFor(m => m.qenRefName1, "", new { @class = "col_1 tleft text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Mobile Number:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                                            @Html.TextBoxFor(m => m.qenRefPhone1, new { id = "qenRefPhone1", placeholder = "", maxlength = "10" })
                                            @Html.ValidationMessageFor(m => m.qenRefPhone1, "", new { @class = "col_1 tleft text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Email:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                                            @Html.TextBoxFor(m => m.qenRefEmail1, new { id = "qenRefEmail1", placeholder = "",onchange="return check()" })
                                            @Html.ValidationMessageFor(m => m.qenRefEmail1, "", new { @class = "col_1 tleft text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Company Name:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                                            @Html.TextBoxFor(m => m.qenRefCompany1, new { id = "qenRefCompany1", placeholder = "" })
                                            @Html.ValidationMessageFor(m => m.qenRefCompany1, "", new { @class = "col_1 tleft text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Designation:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                                            @Html.TextBoxFor(m => m.qenRefPosition1, new { id = "qenRefPosition1", placeholder = "" })
                                            @Html.ValidationMessageFor(m => m.qenRefPosition1, "", new { @class = "col_1 tleft text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="group text-right margin-bot-20-30 margin_resetmail_mobile">

                                    @{ if (Model.qenRefID1 != 0)
                                        {
                                            if (Model.isCheckComplete1)
                                            {<span id="ref1">Verified</span> }
                                            else
                                            {
                                                <input class="resent_main_blue_color" type="button" id="ref2" onclick="return resendRefMail1();" value="Resend mail" />

                                            }

                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 padding_lbl_threee bg_color_cmn_refrence_tab_to">
                                <label class="refrence_one_text">Reference  2</label>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Full Name:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                                            @Html.HiddenFor(m => m.qenRefID2)
                                            @Html.TextBoxFor(m => m.qenRefName2, new { id = "qenRefName2", placeholder = "" })
                                            @Html.ValidationMessageFor(m => m.qenRefName2, "", new { @class = "col_1 tleft text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Mobile Number:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                                            @Html.TextBoxFor(m => m.qenRefPhone2, new { id = "qenRefPhone2", placeholder = "", maxlength = "10" })
                                            @Html.ValidationMessageFor(m => m.qenRefPhone2, "", new { @class = "col_1 tleft text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Email:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                                            @Html.TextBoxFor(m => m.qenRefEmail2, new { id = "qenRefEmail2", placeholder = "", onchange = "return check()" })
                                            @Html.ValidationMessageFor(m => m.qenRefEmail2, "", new { @class = "col_1 tleft text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Company Name:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                                            @Html.TextBoxFor(m => m.qenRefCompany2, new { id = "qenRefCompany2", placeholder = "" })
                                            @Html.ValidationMessageFor(m => m.qenRefCompany2, "", new { @class = "col_1 tleft text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Designation:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                                            @Html.TextBoxFor(m => m.qenRefPosition2, new { id = "qenRefPosition2", placeholder = "" })
                                            @Html.ValidationMessageFor(m => m.qenRefPosition2, "", new { @class = "col_1 tleft text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="group text-right margin-bot-20-30 margin_resetmail_mobile">

                                    @{ if (Model.qenRefID2 != 0)
                                        {
                                            if (Model.isCheckComplete2)
                                            {<span id="ref2">Verified</span> }
                                            else
                                            {
                                                <input class="resent_main_blue_color" type="button" id="ref2" onclick="return resendRefMail2();" value="Resend mail" />
                                            }

                                        }
                                    }
                                </div>
                                <div class="col-md-12 text-right academic save_btn_refrence_tabs_style">
                                    <input type="submit" name="Submit" id="btnnext" class="Submit action-button academic-create-btn btn btn-default" value="Save" />
                                </div>
                            </div>
                        </div>
                                        }

                </div>
            </div>
        </div>
    </div>


</div>



<script>

    function resendRefMail1() {
        debugger
        var qenID = document.getElementById("qenid").value;
        var qenRefID1 = document.getElementById("qenRefID1").value;
        var email = document.getElementById("qenRefEmail1").value;
        var name = document.getElementById("qenRefName1").value;
        $.ajax({

            url: '@Url.Action("sendReferenceEmailer", "profile")',
            data: { 'email': email, 'name': name, 'qenID': qenID, 'qenRefID1': qenRefID1 },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "ok") {
                    bootbox.alert({
                        title: "Confirmation !",
                        message: 'Mail Sent'
                    })
                }
                else { alert("There is some technical problem to send mail."); }
            }
        });

    }

    function resendRefMail2() {
        var qenID2 = document.getElementById("qenid").value;
        var qenRefID2 = document.getElementById("qenRefID2").value;
        debugger
        var name2 = document.getElementById("qenRefName2").value;
        var email2 = document.getElementById("qenRefEmail2").value;

        $.ajax({
            url: '@Url.Action("sendReferenceEmailer", "profile")',
            data: { 'email': email2, 'name': name2, 'qenID': qenID2, 'qenRefID1': qenRefID2 },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "ok") {
                    bootbox.alert({
                        title: "Confirmation !",
                        message: 'Mail Sent'
                    })
                }
                else { alert("There is some technical problem to send mail."); }
            }
        });
    }

</script>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script>
    function check()
    {
        debugger
        var email1 = document.getElementById('qenRefEmail1').value;
        var email2 = document.getElementById('qenRefEmail2').value;
        debugger
        if(email1 != null && email2 != null )
        {
            if(email1 == email2)
            {
                bootbox.alert({
                    title: 'Alert',
                    message: 'Please use separate email address'
                });

                document.getElementById('qenRefEmail1').value = null;
                document.getElementById('qenRefEmail2').value = null;
            }
        }
    }
</script>
