@using System.Web.Mvc.Html
@model NewLetter.Models.AcademicModel
@{
    ViewBag.Title = "AcademicInfo";
}
    <style>
        span.col_1.tleft.text-danger.field-validation-error :before {
            content: " Warning ! ";
            color: red;
            font-weight: bold;
        }
        .text-danger {
            color: red;
        }
    </style>

<div id="ad">
    <div class="container">
        <div class="row sub-container">           

            @{ var qenid = ViewBag.qenid;}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="right-box">
                    @*<div class="form" id="content-1">*@

                        <h1>academic information</h1>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            High School
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        @Html.Action("highSchool", "profile", new { qenid = @qenid })
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Higher School
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Html.Action("higherSchool", "profile", new { qenid = @qenid })
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            Graduation
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Html.Action("Graduation", "profile", new { qenid = @qenid })
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            Post Graduation
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Html.Action("PostGraduation", "profile", new { qenid = @qenid })
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    </div>
            </div>
        </div>

    @*</div>*@


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @*<script>
            function highSchool()
            {
                debugger
                var URL = '@Url.Action("highSchool", "NewLetter")?qenid='+'@qenid';
                $.get(URL, function (data) {
                    debugger
                    $("#education").html(data);
                });
            }
        </script>

        <script>
            function higherSchool() {
                debugger
                var URL = '@Url.Action("higherSchool", "NewLetter")?qenid=' + '@qenid';
                $.get(URL, function (data) {
                    debugger
                    $("#education").html(data);
                });
            }
        </script>
        <script>
            function Graduation()
            {
                debugger
                var URL = '@Url.Action("Graduation", "NewLetter")?qenid='+'@qenid';
                $.get(URL, function (data) {
                    debugger
                    $("#education").html(data);
                });
            }
        </script>
        <script>
            function PostGraduation()
            {
                debugger
                var URL = '@Url.Action("PostGraduation", "NewLetter")?qenid='+'@qenid';
                $.get(URL, function (data) {
                    debugger
                    $("#education").html(data);
                });
            }
        </script>*@
</div>  
