@model NewLetter.Models.qenSecondary

@using (Html.BeginForm("highSchool", "profile", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="high-school-main">
        <!--  <p class="blue-title">High School</p>-->

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.HiddenFor(model => model.qenID)
        <div class="col-md-12 col-sm-12 margin-20">
            <div class="col-md-6 col-sm-12">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">School Name:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                            @Html.TextBoxFor(model => model.schoolName, new { maxlength = "100" })
                            @Html.ValidationMessageFor(model => model.schoolName, "", new { @class = "col_1 tleft text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Board Name:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                            @Html.TextBoxFor(model => model.secondaryBoard, new { maxlength = "100" })
                            @Html.ValidationMessageFor(model => model.secondaryBoard, "", new { @class = "col_1 tleft text-danger" })
                        </div>
                    </div>
                </div>


                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Subjects:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                            @Html.TextBoxFor(model => model.secondarySubjects, new { maxlength = "100" })
                            @Html.ValidationMessageFor(model => model.secondarySubjects, "", new { @class = "col_1 tleft text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Percentage:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                            @Html.TextBoxFor(m => m.secondaryPercentage, new { maxlength = "3" })
                            @Html.ValidationMessageFor(model => model.secondaryPercentage, "", new { @class = "col_1 tleft text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="concept" class="col-md-6 col-sm-6 col-xs-12 control-label">Passing Year:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                            @Html.TextBoxFor(m => m.secondaryPassYear, new { maxlength = "4" })
                            @Html.ValidationMessageFor(model => model.secondaryPassYear, "", new { @class = "col_1 tleft text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-right academic">
                    <input type="submit" value="Update" class="academic-create-btn btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<hr />

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
