@using System.Web.Mvc.Html
@model NewLetter.Models.AcademicInfo
@{
    ViewBag.Title = "AcademicInfo";
}
<style>
    span.col_1.tleft.text-danger.field-validation-error :before {
        content: " Warning ! ";
        color: red;
        font-weight: bold;
    }

    .text-danger {
        color: red;
    }
</style>

<div id="pd">
    <div class="container">
        <div class="row sub-container">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="right-box form-horizontal">
                        @{ var qenid = ViewBag.qenid;}
                        @*<div class="form" id="content-1">*@
                        @Html.DropDownList("Select Education",new SelectList(ViewBag.educationTypes, "educationTypeID", "educationTypeName"),"Educaton Type",new { @id="educationType",onchange = "return loadEducationType(this.value);"})                    
                    </div>
                </div>
            </div>
        </div>
        <div id="user_content">

        </div>
        <p>Post Graduation</p>
        <div class="table-responsive">
            <table class="table table-striped" style="width: 100%; border-spacing: 0px; margin: 0px 0 0px 0px; padding: 0px;">
                <thead>
                    <tr>
                        <th>College Name</th>
                        <th>Course Name</th>
                        <th>Specialization</th>
                        <th>Grade Or Percentage</th>
                        <th>Passing Year</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var values in Model.pgraduation)
            {
                    <tbody>
                        <tr>
                            <td>@values.collegeName</td>
                            <td>@values.courseType.courseName</td>
                            <td>@values.courseSpecialization.specializationName</td>
                            <td>@values.pgradPercentageorGrade</td>
                            <td>@values.YearPassing</td>
                            <td>
                                <a onclick="return editpGraduation(@values.qenID,@values.pggradid);"><i class="glyphicon glyphicon-edit"></i></a>
                                <a onclick="return deletepeGraduation(@values.qenID,this,@values.pggradid);" id="delete_@values.qenID"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>


        <p>Graduation</p>
        <div class="table-responsive">
            <table class="table table-striped" style="width: 100%; border-spacing: 0px; margin: 0px 0 0px 0px; padding: 0px;">
                <thead>
                    <tr>
                        <th>College Name</th>
                        <th>Course Name</th>
                        <th>Specialization</th>
                        <th>Grade Or Percentage</th>
                        <th>Passing Year</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                @foreach (var values in Model.graduation)
            {
                    <tbody>
                        <tr>
                            <td>@values.collegeName</td>
                            <td>@values.courseType.courseName</td>
                            <td>@values.courseSpecialization.specializationName</td>
                            <td>@values.gradPercentageorGrade</td>
                            <td>@values.YearPassing</td>
                            <td>
                                <a onclick="return editGraduation(@values.qenID,@values.gradid);"><i class="glyphicon glyphicon-edit"></i></a>
                                <a onclick="return deleteGraduation(@values.qenID,this,@values.gradid);" id="delete_@values.qenID"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>  

        <p>Higher Secondary</p>
        <div class="table-responsive">
            <table class="table table-striped" style="width: 100%; border-spacing: 0px; margin: 0px 0 0px 0px; padding: 0px;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Grade Or Percentage</th>
                        <th>Passing Year</th>
                        <th>Board</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var values in Model.higherSecondary)
            {
                    <tbody>
                        <tr>
                            <td>@values.schoolName</td>
                            <td>@values.hsecondaryGradeOrPercentage</td>
                            <td>@values.hSecondaryPassYear</td>
                            <td>@values.hSecondaryBoard</td>
                            <td>
                                <a onclick="return editSeniorSecondary(@values.qenID);"><i class="glyphicon glyphicon-edit"></i></a>
                                <a onclick="return deleteSeniorSecondary(@values.qenID,this);" id="delete_@values.qenID"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div> 

        <p>Secondary</p>
        <div class="table-responsive">
            <table class="table table-striped" style="width: 100%; border-spacing: 0px; margin: 0px 0 0px 0px; padding: 0px;">
                <thead>
                    <tr>
                        <th>School Name</th>
                        <th>Grade Or Percentage</th>
                        <th>Passing Year</th>
                        <th>Board</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var values in Model.secondary)
            {
                    <tbody>
                        <tr>
                            <td>@values.schoolName</td>
                            <td>@values.secondaryGradeOrPercentage</td>
                            <td>@values.secondaryPassYear</td>
                            <td>@values.secondaryBoard</td>
                            <td>
                                <a onclick="return editHighSchool(@values.qenID);"><i class="glyphicon glyphicon-edit"></i></a>
                                <a onclick="return deleteHighSchool(@values.qenID,this);" id="delete_@values.qenID"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>                     
</div>
</div>


<script>

    function loadEducationType(id)
    {
        debugger
        if (id == 1) {
            $.get("/profile/checkHighSchoolEntryExists", { qenID: '@qenid' }, function (data) {
                if(data == 1)
                {
                    $('#user_content').load('@Url.Action("highSchool", "profile",new { qenid = qenid})');
                }
                else
                {
                    bootbox.alert({
                        title: 'Alert!',
                        message: 'You have already added a secondary school entry. Please edit the entry if you need to make any changes'
                    });
                }
            });

        }
        if(id == 2)
        {
            $.get("/profile/checkHigherSecondaryEntryExists", { qenID: '@qenid' }, function (data) {
                if(data == 1)
                {
                    $('#user_content').load('@Url.Action("higherSchool", "profile",new { qenid = qenid})');
                }
                else
                {
                    bootbox.alert({
                        title: 'Alert!',
                        message: 'You have already added a higher secondary. Please edit the entry if you need to make any changes'
                    });
                }
            });
        }
        if (id == 3) {
            $('#user_content').load('@Url.Action("Graduation", "profile",new { qenid = qenid})');
        }
        if (id == 4) {
            $('#user_content').load('@Url.Action("PostGraduation", "profile",new { qenid = qenid})');
        }
    }
</script>

<script>
    function editHighSchool(qenid)
       {
           debugger
           var URL = '@Url.Action("highSchool", "profile")?qenid=' + qenid;
           $.get(URL, function (data) {
               debugger

               $("#user_content").html(data);
           });
       }

        function deleteHighSchool(qenID, ID)
       {
           debugger
           var URL = '@Url.Action("deleteHighSchool", "profile")?qenid=' + qenID;
               $.get(URL, function (data) {
                   debugger
                   location = location.href;
               });
       }
</script>

<script>
    function editSeniorSecondary(qenid)
       {
           debugger
           var URL = '@Url.Action("higherSchool", "profile")?qenid=' + qenid;
           $.get(URL, function (data) {
               debugger
               $("#user_content").html(data);
           });
       }

    function deleteSeniorSecondary(qenID, ID)
       {
           debugger
           var URL = '@Url.Action("deleteSeniorSecondary", "profile")?qenid=' + qenID;
               $.get(URL, function (data) {
                   debugger
                   location = location.href;
               });
       }
</script>

<script>
    function editGraduation(qenid,gradid) {
        debugger
        var URL = '@Url.Action("Graduation", "profile")?qenid=' + qenid +'&gradid='+gradid;
        $.get(URL, function (data) {
            debugger
            $("#user_content").html(data);
        });
    }

    function deleteGraduation(qenID, ID,gradid) {
        debugger
        var URL = '@Url.Action("deletegraduation", "profile")?qenid=' + qenID+'&gradid='+gradid;
        $.get(URL, function (data) {
            debugger
            location = location.href;
        });
    }
</script>

<script>
    function editpGraduation(qenid, pgradid) {
        debugger
        var URL = '@Url.Action("PostGraduation", "profile")?qenid=' + qenid + '&pgradid=' + pgradid;
        $.get(URL, function (data) {
            debugger
            $("#user_content").html(data);
        });
    }

    function deletepeGraduation(qenID, ID, pgradid) {
        debugger
        var URL = '@Url.Action("deletepgraduation", "profile")?qenid=' + qenID + '&pgradid=' + pgradid;
        $.get(URL, function (data) {
            debugger
            location = location.href;
        });
    }
</script>