@model IEnumerable<NewLetter.Models.qenAppliedJob>

@{
    ViewBag.Title = "AppliedJobs";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}

<div class="form-horizontal edit-candidate-cv candidate-apply">
<h4 class="apply_job_ttle_add_hdng">AppliedJobs</h4>
<div class="certificate_tab_main">
<table class="table">
    <tr>
        <th>Sr.</th>
        <th>
            @Html.DisplayNameFor(model => model.appliedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobDetail.jobTitle)
        </th>
         
        <th>
            @Html.DisplayNameFor(model => model.jobDetail.CompanyName)
        </th>    
        <th>
            @Html.DisplayNameFor(model => model.App_status.status)
        </th>
    </tr>
    @{
        var a = Model.Count();

    }
    <tbody>
        @if (a == 0)
        {
            <tr>
                <td colspan="7">
                    No Result Found
                </td>
            </tr>
        }
        @{int rowNo = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@(rowNo += 1) </td>
                <td>
                    @item.appliedDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobDetail.jobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobDetail.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.App_status.status)
                </td>
            </tr>
        }
        </tbody>

</table>
</div>
</div>
