@using NewLetter.Models;

@{
    ViewBag.Title = "editCandidate";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}

@{var qenID = Convert.ToInt32(BaseUtil.GetSessionValue(AdminInfo.UserID.ToString())); }



<script>
    var jqOld = jQuery.noConflict(); var $ = jqOld.noConflict();
    $(window).on('load', function () {
        debugger
        if (location.hash) {
            $('a[href=\'' + location.hash + '\']').tab('show');
        }
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('a[href="' + activeTab + '"]').tab('show');
        }
    });
    $('body').on('click', 'a[data-toggle=\'tab\']', function (e) {
        e.preventDefault()
        debugger
        var tab_name = this.getAttribute('href')
        if (history.pushState) {
            history.pushState(null, null, tab_name)
        }
        else {
            location.hash = tab_name
        }
        localStorage.setItem('activeTab', tab_name)

        $(this).tab('show');
        return false;
    });
    $(window).on('popstate', function () {
        debugger
        var anchor = location.hash ||
          $('a[data-toggle=\'tab\']').first().attr('href');
        $('a[href=\'' + anchor + '\']').tab('show');
    });
</script>
<div class="form-horizontal edit-candidate-cv">
    <div class="container">
        <h4>Profile progress bar</h2>
        <div class="progress">
            <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                <p id="progresstext" class="sr-only">70% Complete</p>
            
        </div>
    </div>
    <h4>Profile</h4>
    <input type="button" class="btn btn-info btn-lg edit-candidate-cv-btn" data-toggle="modal" data-target="#myModal" value="View" onclick="return dispalyResume(@qenID);" />
    <div class="col-lg-12 col-md-12 col-xs-12 table-das">
        <div class="table-responsive">
            <div class="col-md-12 col-sm-12 col-xs-12 dashboard edit_candidate">
                <div class="row">
                    <div class="container">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a data-toggle="tab" href="#Profile">Personal Detials</a></li>
                            <li><a data-toggle="tab" href="#Academic">ACADEMIC Detials</a></li>
                            <li><a data-toggle="tab" href="#Cerifications">CERTIFICATIONS</a></li>
                            <li><a data-toggle="tab" href="#Skills">Skills</a></li>
                            <li><a data-toggle="tab" href="#Employment">EMPLOYMENT</a></li>
                            <li><a data-toggle="tab" href="#References">REFERENCES</a></li>
                            <li><a data-toggle="tab" href="#Career">Career High light</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active  fade in" id="Profile">
                                @Html.Action("_partialPInfo", "profile", new { qenID })
                            </div>
                            <div class="tab-pane" id="Academic">
                                @Html.Action("_partialacadInfo", "profile", new { qenID })
                            </div>
                            <div class="tab-pane" id="Cerifications">
                                @Html.Action("_partialCertifications", "profile", new { qenID })
                            </div>
                            <div class="tab-pane" id="Skills">
                                @Html.Action("_partialSkills", "profile", new { qenID })
                            </div>
                            <div class="tab-pane" id="Employment">
                                @Html.Action("_partialEmpInfo", "profile", new { qenID })
                            </div>
                            <div class="tab-pane" id="References">
                                @Html.Action("_partialRefInfo", "profile", new { qenID })
                            </div>

                            <div class="tab-pane" id="Career">
                                @Html.Action("_careerHighLights", "profile", new { qenID })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            {
                debugger
                bootbox.alert({
                    title: 'Alert Success  !',
                    message: '@Html.Raw(Json.Encode(TempData["message"]))'
                });

            }

        </script>
    }
}

<div class="modal fade" id="myModal" role="dialog">   </div>


<script>
    function dispalyResume(qenID) {
        debugger
        var URL = '@Url.Action("_partialPreviewCV", "profile")?qenID=' + qenID;
        jqOld.get(URL, function (data) {
            jqOld("#myModal").html(data);
        });
    }

</script>



@{
    if (TempData["result"] != null)
    {

        if (TempData["result"].ToString() == "addphone")
        {
            <script type="text/javascript">
            {
            debugger
                bootbox.alert({
                title: 'Alert',
                    message: 'Please update your mobile number first'
                });
            }               

            </script>
            }
        }
    }


<script>
    debugger
    var jqOld = jQuery.noConflict();
    jqOld(document).ready(function () {
        debugger        
            debugger
            var qenID = '@qenID';
        debugger
            jqOld.ajax({
                url: '/profile/getProfileCompletePercentage',
                data: { 'qenID': qenID },
                success: function (data) {                    
                        debugger
                        var x = document.getElementById('progress');
                        x.style.width = data + '%';
                        x.innerHTML = "Your profile is " + data + "% complete";
                       
                    
                }
            });
        
    });
</script>





