@model  IEnumerable<NewLetter.Models.sp_AvailableSlotsForCandidate_Result>

@{
    ViewBag.Title = "selectmeet";
    Layout = "~/Views/Shared/_Layout_ExternalUser.cshtml";
}
@{
    long id = 0;
    long jid = 0;
}


<h2>Select Meeting Date and Time</h2>

@using (Html.BeginForm("selectmeet", "profile", FormMethod.Post, new { id = "msform", qenID = id, jobID = jid }))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12">
        @{ var dAt = ViewBag.dAt;}
        <span>date:</span>
        @{ if (dAt != "")
            {
                @Html.TextBox("txt_date", (string)dAt, new { @class = "datepicker", Placeholder = "Date", id = "txt_date", maxLength = "10" })


            }
            else
            {
                @Html.TextBox("txt_date", null, new { @class = "datepicker", Placeholder = "Date", id = "txt_date" })
            }
        }

    </div>
    <div class="col-lg-12">
        <input type="submit" value="view" />
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.slotID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.slotTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.blocked)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.slotID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.slotTime)
                </td>
                <td>
                    @{ if (item.blocked == "Available")
                        {
                            <span class="greenColor">@item.blocked</span>
                        }
                        
                    }

                </td>
                <td>
                    @{ if (item.blocked == "Available")
                        {
                            <input value="Book Meeting" type="button" onclick="return block(@item.slotID);" />
                        }
                        
                    }

                </td>
                @{id = (long)@item.qenID;}@{jid = (long)@item.jobID;}

            </tr>


                    }


    </table>
    <input type="hidden" value="@id" name="qenID" id="qenID" />
    <input type="hidden" value="@jid" name="jobID" id="jobID" />


                    }
<style>
    .redColor {
        color: red;
    }

    .blueColor {
        color: blue;
    }

    .greenColor {
        color: green;
    }
</style>

<script>
        var dat = "";
        jqOld.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            jqOld.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        }
        var form = jqOld("#msform").serializeObject();       

        function block(slotID) {
            debugger
            dat= document.getElementById('txt_date').value;
            ID = document.getElementById("qenID").value;
            JID = document.getElementById("jobID").value;
            if (dat == "undefined") dat = "";
            debugger
            jqOld.ajax({
                url: "bookMeet",
                data: { 'slotID': slotID, 'dat': dat ,'qenID':ID,'jobID':JID},

                success: function (data) {
                    debugger
                    if (data == "OK") {
                        debugger
                        bootbox.alert({
                            title: 'Alert Success  !',
                            message: 'Meating has been created as per your selected data time, kindly be present on time.'
                        });
                        location.href = 'https://spotaneedle.com/TimeSlots/SlotsInformation?dat=' + dat;

                    }
                    else {
                        bootbox.alert({
                            title: 'Alert  !',
                            message: 'Error occured, Record not updated.'
                        });

                    }
                }
            });
        }

</script>



