@model NewLetter.Models.advertisementList

@{
    ViewBag.Title = "adPostSuccess";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
    long ID = ViewBag.refID;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        #Grid {
            height: 400px;
            width: 400px;
            text-align: center;
        }

        #urlclass {
            
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            width: 300px;
        }

        #adimage {
            height: 300px;
            width: 300px;
            
        }
    </style>
    </head>
<body>   
    
        <h2>adPostSuccess</h2>
    

@{ var advID = ViewBag.refID;}
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div id="Grid">
                <img id="adimage" src="@Model.advertisementimageURL" />
                <p id="urlclass">@Model.advertisementURL</p>
            </div>
            <div id="editor"></div>
            
            </div>
            <div class="col-sm-6">
            ok
            <br />
            job saved successfully
            <br />
           
            @Html.ActionLink("Continue to post jod...", "NewJob", "jobDetails", new { @refID = advID},null)

             @Html.ActionLink("post job via operator", "sendMailToOperator", "jobDetails", new {advID },null)
                @*<input type="button" value="job via operator" , onclick="sendMailToOperator(@advID)" />*@
            @Html.ActionLink("post jod without refrence..", "NewJob", "jobDetails")
           
           
           
            </div>
        </div>

    @*<p>
            @Html.ActionLink(" Go to Home Page ? ", "jobDashboard", "jobDetails")
        </p>*@
    </body>
    
</html>
@using (Html.BeginForm("Exportnews", "jobDetails", FormMethod.Post))
{
    <input type="hidden" name="GridHtml" />    <input type="hidden" name="advID" value='@advID'/>
    <input type="submit" id="btnSubmit" value="Download and Mail" />
    
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
</script>

<script>
    function sendMailToOperator(advID)
    {
        var URL = '@Url.Action("sendMailToOperator", "jobDetails")?advID=' + '@advID';
        $.get(URL, function (data) {
            alert(data);
        });
    }
</script>