@model NewLetter.Models.jobDetail
@using NewLetter.Models;
@{
    ViewBag.Title = "JobView";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}

<style>
    i {
    float: right;
    font-size: 9px;
}
    table tr td { text-align:left;width: 250px;
    }
</style>

@{ var roleID = BaseUtil.RoleID();
    bool isAuthenticated = BaseUtil.IsAuthenticated();
    var userID = BaseUtil.GetSessionValue(AdminInfo.UserID.ToString());
    }


<script>
    function callApply(jobID)
    {
        debugger
        var isAuthenticated_ = '@isAuthenticated';
        var roleID = '@roleID';
        if (isAuthenticated_=="False")
        {

            bootbox.confirm({
                     title: "Alert Warning  !",
                     message: '<p>Please login to apply this job.</p>',
                     buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'

                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result,URL) {
                              if(result)
                              {
                                  debugger
                                 var URL = '/Account/login';
                                  location.href = URL;

                              }
                           else
                            {
                            @*debugger
                            var URL = window.location.href;
                            location.href = URL;*@
                         }
                        }

                 })

        return;
    }
    else if(roleID!=5)
    {
        bootbox.alert({
            title: "Alert Warning  !",
            message: '<p>You are not authorised to apply this job.</p>'
        })

        return;
    }
    else
    {        var URL = '@Url.Action("Apply", "jobDetails")?jobID=' + jobID;
        $.get(URL, function (data) {


             debugger
             if (data == "login") {
                bootbox.confirm({
                     title: "Alert Warning  !",
                     message: '<p>Please login to apply this job.</p>',
                     buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'

                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result,URL) {
                              if(result)
                              {
                                  debugger
                                 var URL = '/Account/login';
                                  location.href = URL;

                              }
                           else
                            {
                            @*debugger
                            var URL = window.location.href;
                            location.href = URL;*@
                         }
                        }

                 })

             }
             if (data == "alreadyApplied") {

                 bootbox.alert({
                  title: "Alert Warning  !",
                  message: '<p>You have already applied at this job.</p>'
              });
             }
             if (data == "access") {

                 bootbox.alert({
                     title: "Alert Warning  !",
                     message: '<p>You are not authorised to apply this job.</p>'
                 });
             }
             if (data == "mail sent and applied") {
                 $('div.alert').addClass("alert-success"); $("#divmsg").css("display", "block");
                 $("#divmsg").html("You have applied successfuly to this job.");
                 bootbox.alert({
                  title: "Alert Success  !",
                  message: '<p>You have applied successfuly to this job.</p>'
              });

             }

         }
     );
    }
    }


    //----------------share with friend------------------




</script>

<div class="form-horizontal job-view-padd">
    @using (Html.BeginForm("Skills", "jobDetails", FormMethod.Post, new { id = "msform" }))
    {
        <h4> @Model.jobTitle<i style="font-size:12px;">Posted on @Model.dataIsCreated.ToString("dd/MM/yyyy")</i></h4>
	<div class="col-md-12 custom-margin">
        <i>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    Action
                    <span class="caret"></span>
                </button>



                @{
                    if (roleID == "")
                    { <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">


                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="return callApply();">Apply here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#dialog-sendmail">Share with friend</a></li>
                </ul>
                    }
                    if (roleID == "5")
                    {
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="return callApply(@Model.jobID);">Apply here</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#dialog-sendmail">Share with friend</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add to favorite</a></li>
                        </ul>
                    }

                    if (roleID == "1" || roleID == "2" || roleID == "3" || roleID == "4")
                    {
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href='@Url.Action("newJob", "jobDetails", new { jobID = @Model.jobID })'>Edit Job</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href='@Url.Action("cvShortlisted", "companyDetails", new { jobID = @Model.jobID })'>Search Candidate</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href='@Url.Action("JobHold", "jobDetails", new { jobID = @Model.jobID })' onclick="return confirm('Are you sure you want to hold this Job?');">Hold Job</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href='@Url.Action("JobDelete", "jobDetails", new { jobID = @Model.jobID })' onclick="return confirm('Are you sure you want to close this Job?');">Close Job</a></li>
                        </ul>}
                }
            </div>
        </i>

        <p>
            <!--<img src='@Model.CompanyLogo' style="width:60px" alt='@Model.CompanyName'><span style="font-size:18px">@Model.CompanyName</span>-->
            <img src='https://spotaneedle.com/images/Dummy-Text-Featured.jpg' style="width:60px" alt='@Model.CompanyName'><span class="job-view-title">@Model.CompanyName</span>
        </p>
	</div>
	<div class="col-md-8 col-sm-8 col-xs-12">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label-2" for="NoOfOpenings">Job Description</label>
			<hr class="job-view">
			<div class="cutom-text">@Html.Raw(Model.jobDescription)</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label-2" for="NoOfOpenings">Additional Information</label>
			<hr class="job-view">
			<div class="cutom-text">@Html.Raw(Model.otherinformation)</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label-2" for="NoOfOpenings">About Company</label>
			<hr class="job-view">
			<div class="cutom-text">@Html.Raw(Model.CompanyDescription)</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Openings</b></label>
			<label class="cutom-label">@Model.NoOfOpenings</label>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Salary</b></label>
			<label class="cutom-label">
				@{if (Model.salaryVisibleToEmployee)
					{
						<span> @Model.salary </span><span>@Model.currency </span><span>@Model.unit</span>
					}
					else
					{
						<span>As per industry standard</span>
					} }
			</label>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Experience</b></label>
			<label class="cutom-label">@Model.workExpMin <span>year</span></label>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Job Type</b></label>
			<label class="cutom-label">@Model.EmploymentType.EmploymentType1</label>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Location</b></label>
			<label class="cutom-label">@Model.city</label>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Education</b></label>
			<label class="cutom-label">@Model.EducationReq</label>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Industry</b></label>
			<label class="cutom-label">@Model.industry.industryName</label>			
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Skills</b></label>
			<label class="cutom-label"></label>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label-2" for="NoOfOpenings">Company Information</label>
			<hr class="job-view">
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Name</b></label>
			<label class="cutom-label">@Model.CompanyName</label>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Website</b></label>
			<label class="cutom-label"><a href='@Model.CompanyWebsite'>@Model.CompanyWebsite</a></label>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label-2" for="NoOfOpenings">Contact Information</label>
			<hr class="job-view">			
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Name</b></label>
			<label class="cutom-label">@Model.jobContactPersonName</label>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Phone No</b></label>
			<label class="cutom-label">@Model.jobContactPersonMobile</label>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label class="cutom-label" for="NoOfOpenings"><b>Send Resume</b></label>
			<label class="cutom-label"><a href='mailto:@Model.responsesEmailID'>@Model.responsesEmailID</a></label>
		</div>
	</div>
	}

    <div class="modal fade" id="dialog-sendmail" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Share job with friends</h4>
                </div>
                <div class="modal-body" style="overflow:auto">
                    <div class="row">
                        <div class="alert" id="divmsgemail" style="display:none"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-md-3">Email ID</label>
                            <div class="col-md-9">
                                <input type="text" id="txtEmail" value="" class="form-control" />
                            </div>
                        </div>
                    </div>

                        <div class="row">
                            <div class="col-sm-offset-4 popup-error">
                                <span style="color:red">NOTE : Please enter single mail id.</span>
                            </div>
                        </div>



                    </div>
                <div class="modal-footer">
                    <input type="button" name="sendmail" class="next action-button btn btn-default" value="Send" id="btnsend" onclick="return sendMail();" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        function sendMail() {
            debugger
            var url = window.location.href;
            var email = $('#txtEmail').val();
            if (email != "" || email != "") {
                var filter = /^[a-zA-Z0-9_.-]+@@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{0,4}$/;

                if (filter.test(email)) {
                    $.ajax({
                        url: '/jobDetails/ShareWF',
                        type: 'POST',
                        data: { 'jobUrl': url, 'email': email },
                        success: function (data) {
                            debugger
                            alert(data);
                        }
                    });
                }
                else {
                    $('div.alert').addClass("alert-danger");
                    $("#divmsgemail").css("display", "block");
                    $("#divmsgemail").html("Please enter valid email Id.");
                }
            }
            else {

                $('div.alert').addClass("alert-danger");
                $("#divmsgemail").css("display", "block");
                $("#divmsgemail").html("Please enter valid email Id.");
            }


        }

    </script>


    <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
    </script>