@model NewLetter.Models.jobDetail
@using NewLetter.Models;
@{
    ViewBag.Title = "JobView";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<style>
    i {
    float: right;
    font-size: 9px;
}
    table tr td { text-align:left;width: 250px;
    }
</style>

@{ var roleID = BaseUtil.RoleID();
    bool isAuthenticated = BaseUtil.IsAuthenticated();
    var userID = BaseUtil.GetSessionValue(AdminInfo.UserID.ToString());
    }


<script>
    function callApply(jobID)
    {
        debugger
        var isAuthenticated_ = '@isAuthenticated';
        var roleID = '@roleID';
        if (isAuthenticated_=="False")
        {
            $('div.alert').addClass("alert-danger"); $("#divmsg").css("display", "block");
            $("#divmsg").html("Please login to apply this job.");
        return;
    }
    else if(roleID!=5)
    {
        $('div.alert').addClass("alert-danger"); $("#divmsg").css("display", "block");
        $("#divmsg").html("You are not authorised to apply this job.");
        return;
    }
    else
    {
     $.ajax({
         url: 'http://localhost:51126/jobDetails/Apply',
         type: 'POST',
         data: {'jobID':jobID},
         success: function (data) {
             debugger
             if (data == "login") {
                 $('div.alert').addClass("alert-danger");
                 $("#divmsg").css("display", "block");
                 $("#divmsg").html("Please login to apply this job.");
             }
             if (data == "alreadyApplied") {
                 $('div.alert').addClass("alert-danger"); $("#divmsg").css("display", "block");
                 $("#divmsg").html("You have already applied at this job.");
             }
             if (data == "access") {
                 $('div.alert').addClass("alert-danger"); $("#divmsg").css("display", "block");
                 $("#divmsg").html("You are not authorised to apply this job.");
             }
             if (data == "Applied") {
                 $('div.alert').addClass("alert-success"); $("#divmsg").css("display", "block");
                 $("#divmsg").html("You have appled successfuly to this job.");

             }

         }
     });
    }
    }


    //----------------share with friend------------------
    function ShareWF() {
       debugger
        $("#dialog-sendmail").dialog({
            title: "Job Details",
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 700,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(this).dialog("open");
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#dialog-sendmail").dialog("open");
    }
</script>



@using (Html.BeginForm("Skills", "jobDetails", FormMethod.Post, new { id = "msform" }))
{
<fieldset>
    <div class="row">
        <div class="alert" style="display:none" id="divmsg"></div>
    </div>
    <i>Posted on @Model.dataIsCreated</i><br />
    <i>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                Action
                <span class="caret"></span>
            </button>
            @{
                if (roleID == "")
                {
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="return callApply();">Apply here</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="return ShareWF();">Share with friend</a></li>
                     
                    </ul>}
             else if (roleID == "5")
                 {
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="return callApply(@Model.jobID);">Apply here</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="return ShareWF();">Share with friend</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add to favorite</a></li>
                    </ul>
                }
                else if (roleID == "1")
                {
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">                      
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Share with friend</a></li>
                       
                    </ul>
                }
                else
                {
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href='@Url.Action("postJob", "jobDetails", new { jobID = @Model.jobID })'>Edit Job</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Search Candidate</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href='@Url.Action("JobHold", "jobDetails", new { jobID = @Model.jobID })' onclick="return confirm('Are you sure you want to hold this Job?');">Hold Job</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href='@Url.Action("JobDelete", "jobDetails", new { jobID = @Model.jobID })' onclick="return confirm('Are you sure you want to close this Job?');">Close Job</a></li>
                    </ul>}
            }
        </div>
    </i>
    <p>
       <img src='@Model.CompanyLogo' style="width:60px" alt='@Model.CompanyName'><span style="font-size:18px">@Model.CompanyName</span>       
    </p>
    <h5> @Model.jobTitle</h5>
    <table>
           <tr>
            <td style="font-size:13px">Openings : </td>
            <td>@Model.NoOfOpenings</td>
        </tr>
       
        <tr>
            <td style="font-size:13px">Salary : </td>
            <td>
                @{if (Model.salaryVisibleToEmployee)
                    {
                        <span> @Model.salary</span><span>@Model.currency</span><span>@Model.unit</span>
                    }
                    else
                    {
                        <span>As per industry standard</span>
                    } }
            </td>
        </tr>
        <tr>
            <td style="font-size:13px">Work Experience : </td>
            <td>@Model.workExpMin <span>year</span></td>
        </tr>
        <tr>
            <td style="font-size:13px">Job Type : </td>
            <td>@Model.EmploymentType.EmploymentType1</td>
        </tr>
        <tr>
            <td style="font-size:13px">Location : </td>
            <td style="width:100%">@Model.city</td>
        </tr>
        <tr>
            <td style="font-size:13px">Education : </td>
            <td>@Model.EducationReq</td>
        </tr>
        <tr>
            <td style="font-size:13px">Industry : </td>
            <td>@Model.industry.industryName</td>
        </tr>
        <tr>
            <td style="font-size:13px">Skills : </td>
            <td style=""></td>
        </tr>
        <tr>
            <td style="font-size:13px">
                Job Description
            </td>
       
            <td style="font-size:13px;">
                @Html.Raw(Model.jobDescription)
            </td>
        </tr>
        <tr>
            <td style="font-size:13px">
                Additional Information
            </td>

            <td style="font-size:13px;">
                @Html.Raw(Model.otherinformation)
            </td>
        </tr>
        <tr><td></td>
       <td style="font-size:15px;"><p>Company Information</p></td>
        </tr> 
        <tr>
            <td style="font-size:13px">Name : </td>
            <td>@Model.CompanyName</td>
        </tr>
        <tr>
            <td style="font-size:13px">Website : </td>
            <td><a href='@Model.CompanyWebsite'>@Model.CompanyWebsite</a></td>
        </tr>
        <tr>
            <td style="font-size:13px">About Company : </td>           
            <td style=""> @Html.Raw(Model.CompanyDescription)</td>
        </tr>
        <tr><td></td><td style="font-size:15px;"><p>Contact Information</p></td></tr>
<tr>
            <td style="font-size:13px">Name: </td>
            <td>@Model.jobContactPersonName</td>
        </tr>
        <tr>
            <td style="font-size:13px"> Phone No : </td>
            <td>@Model.jobContactPersonMobile</td>
        </tr>
        <tr>
            <td style="font-size:13px">  Send Resume at : </td>
            <td>@Model.responsesEmailID</td>
        </tr>
    </table>


        <p>
            @Html.ActionLink("Edit", "Edit", new { JobID = Model.jobID }) |
            @Html.ActionLink("Back to List", "Jobs")
        </p>
 
    
</fieldset>
}

<div id="dialog-sendmail" style="display: none">
    <div class="row">
        <div class="alert" id="divmsgemail" style="display:none"></div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">Email ID</div>
        <div class="col-sm-5"><input type="text" id="txtEmail" value=""/></div>
    </div>

    <div class="row">
        <div class="col-sm-offset-4">
            <span style="color:red">NOTE : Please enter single mail id.</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-4">
            <input type="button" name="sendmail" class="next action-button" value="Send" id="btnsend" onclick="return sendMail();"  />
        </div>
        </div>
    </div>
<script>
    function sendMail()
    {
        debugger
        var url=window.location.href;
        var email = $('#txtEmail').val();
        if (email != "" || email != "")
        {
            var filter = /^[a-zA-Z0-9_.-]+@@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{0,4}$/;

             if (filter.test(email))
            {
                $.ajax({
                    url: 'http://localhost:51126/jobDetails/ShareWF',
                    type: 'POST',
                    data: { 'jobUrl': url, 'email': email },
                    success: function (data) {
                        debugger
                        alert(data);
                    }
                });
            }
            else
            {
                $('div.alert').addClass("alert-danger");
                $("#divmsgemail").css("display", "block");
                $("#divmsgemail").html("Please enter valid email Id.");
            }
        }
        else
        {

            $('div.alert').addClass("alert-danger");
            $("#divmsgemail").css("display", "block");
            $("#divmsgemail").html("Please enter valid email Id.");
        }


    }

</script>


