@model IEnumerable<NewLetter.Models.mailReceivedInterested>

    <table id="tblcat3" class="table table-striped table-bordered table-hover col-md-12 display">
        <thead>
            <tr>
                <th></th>
                <th>Sr</th>
                <th>Name</th>
                <th>Interested</th>
                <th></th>
            </tr>
        </thead>
        @{int rowNo = 0;}
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" id="@item.qenID" onclick="return cat1selected(@item.qenID);" />

                    <td>@(rowNo += 1) </td>
                    <td>@item.qenName</td>
                    <td><input type="checkbox" id='chkReceived@(rowNo += 1)' @(Convert.ToBoolean(item.mailReceivedjobChancgeInterested) == true ? "checked='checked'" : string.Empty) /></td>

                    <td class="text-center cate-btn"><input type="hidden" id="hdn_@item.qenID" value="@item.qenEmail" /> <input type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" value="View" onclick="return dispalyResume(@item.qenID);" /> </td>

                </tr>
            }
        </tbody>
    </table>
    <div class="col-md-6 text-right cate-btn">
        <div class="row">
            <input type="button" value="Notify Candidates" class="btn btn-default" onclick="return notifyCat3();" />
        </div>
    </div>
    <script>
        var arr = []
        var x = document.getElementById("tblcat3").rows.length;
        function cat3selected(id) {
            debugger
            if (document.getElementById(id).checked == true) {
                arr.push(id);

            }
            if (document.getElementById(id).checked == false) {
                for (var i = 0; i < x - 1; i++) {
                    if (arr[i] == id) {
                        arr.splice(i, 1);
                        break;
                    }
                }

            }
        }


        function notifyCat3() {
            var jobID = document.getElementById("hid_jobid").value;
            debugger
            var arr_3 = arr.slice();
            var length = arr_3.length
            if (length != 0) {

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("notify3", "Employer")',
                    data: JSON.stringify({ 'arrnew3': arr_3, 'jobID': jobID }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        bootbox.alert({
                            title: "Alert Success!",
                            message: '<p>Mail send</p>'
                        });
                    }
                });
            }

        }
    </script>

    <script>

        var jqOld = jQuery.noConflict();
        jqOld(document).ready(function () {
            jqOld('#tblcat3').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = jqOld('<select><option value=""></option></select>')
                            .appendTo(jqOld(column.footer()).empty())
                            .on('change', function () {
                                var val = jqOld.fn.dataTable.util.escapeRegex(
                                    jqOld(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search(val ? '^' + val + 'jqOld' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
        });
    </script>
