@model IEnumerable<NewLetter.Models.InterViewerComment>

    <table id="myDataTable_comment" class="table table-striped table-bordered table-hover col-md-12 display">
        @foreach (var item in Model)
            {

            <tr class="bdr-comment">
                <td>
                    <b>@Html.DisplayNameFor(model => model.EmployerDetail.Name) :</b> @Html.DisplayFor(modelItem => item.EmployerDetail.Name)
                </td>
            </tr>
                <tr>
                    <td>
                        <b>Designation :</b>@Html.DisplayFor(modelItem => item.Department)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.Candidate_status1.status):</b> @Html.DisplayFor(modelItem => item.Candidate_status1.status)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.Comment)      :</b> @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.ExpectedSalaryGross)   :</b> @Html.DisplayFor(modelItem => item.ExpectedSalaryGross)
                    </td>
                    <td>
                        <b>@Html.DisplayNameFor(model => model.ExpectedSalaryMonthly)      :</b> @Html.DisplayFor(modelItem => item.ExpectedSalaryMonthly)
                    </td>
                </tr>
        }
    </table>
