@model IEnumerable<NewLetter.Models.qendidateTestSchedule>

@{
    ViewBag.Title = "rescheduleTestHistory";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}

<table class="table">
    <tr>
        <th>
           Name
        </th>      
        <th>
            Mail Sent
        </th>
        <th>
          Mail Received
        </th>
        <th>
           Test Scheduled
        </th>
        <th>
         Process Date
        </th>
        <th>
          Reschedule Reason
        </th>      
        <th>Exam Attemped</th>
        <th>Exam Submitted</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.qendidateList.qenName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.jobDetail.jobTitle)
        </td>*@
       
        <td>
            @{if (item.mailSentTestScheduled)
                {
                <input type="checkbox" checked />
                }
                else
                {  <input type="checkbox" />}
           }

        </td>
        <td>
            @{if (item.mailReceivedscheduled)
                {
                    <input type="checkbox" checked />
                }
                else
                {  <input type="checkbox" />}
            }

         
           
        </td>
        
        <td>
            @{ if (item.mailReceivedscheduled)
                {
                    @Html.DisplayFor(modelItem => item.testScheduledDateTime)
                }
            }           
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.dataIsCreated)
        <br />
           @{if (item.mailReceivedscheduled)
               {
                    @Html.DisplayFor(modelItem => item.dataIsUpdated)
                   }
               }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReasonReschedule)
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.isExamAttempted)
            @{if (item.isExamAttempted)
                {
                    @Html.DisplayFor(modelItem => item.examAttemptedDateTime)
                }
            }
          
        </td> 
        <td>

            @Html.DisplayFor(modelItem => item.isExamSubmitted)
            @{if (item.isExamSubmitted)
                {
                    @Html.DisplayFor(modelItem => item.examSubmittedDateTime)
                }
            }

        </td> 
    </tr>
}

</table>
