@model IEnumerable<NewLetter.Models.usp_GetAllEducationTypes_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Education Type
        </th>
        <th>
            Created Date
        </th>
        <th>
            Updated Date
        </th>        
        <th>
            Active/In-Active
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.educationTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataIsCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataIsUpdated)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.educationTypeID }) 
        </td>
    </tr>
}
</table>
