@model IEnumerable<NewLetter.Models.sp_slotlist_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.slotTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataIsCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataIsUpdated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.slotTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataIsCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataIsUpdated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SlotID })            
        </td>

    </tr>
}
</table>
