@model NewLetter.Models.EmployerDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}
<div class="form-horizontal">
    <div class="col-lg-12 col-md-12 col-xs-12 table-das">
        <h4>Employer Detail</h4>
        <dl class="dl-horizontal emp-details">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mobile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mobile)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.dataIsCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dataIsCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>

            <dt>
                Role
            </dt>

            <dd>
                @ViewBag.role
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dataIsUpdated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dataIsUpdated)
            </dd>
        </dl>
        <p class="col-md-12">
            @Html.ActionLink("Edit", "Edit", "", new { @class = "btn btn-default", id = Model.EmployerID })
        </p>
    </div>
</div>